fastapi
uvicorn[standard]
requests
beautifulsoup4
lxml
python-dotenv
google-generativeai
scikit-learn
pydantic
pytrends
emoji
motor
pymongo
dnspython
groq
passlib[bcrypt]
bcrypt==4.0.1
PyJWT
email-validator
pydantic[email]