fastapi
uvicorn[standard]
requests
beautifulsoup4
lxml
python-dotenv
google-generativeai
scikit-learn
pydantic
pytrends
emoji
motor
groq
passlib[bcrypt]
PyJWT
email-validator
pydantic[email]
reportlab